<p id="notice"><%= notice %></p>
<div id="subs_form">
  <% if current_user.subscribed?(@book) %>
    <%= simple_form_for current_user.subscriptions.find_by(book_id: @book.id), url: unsubscribe_book_path, method: :delete, remote: true do |f| %>
      <%= f.button :submit, "Remove book of my list", class: "btn btn-alert" %>
    <% end %>
  <% else %>
    <%= simple_form_for current_user.subscriptions.build(book: @book), url: subscribe_book_path, method: :post, remote: true do |f| %>
      <%= f.button :submit, "Add book to my list", class: "btn btn-success" %>
    <% end %>
  <% end %>
</div>


<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Amazon:</strong>
  <%= @book.amazon_id %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
