<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Reading List" %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <!-- NAVBAR -->
        <nav>
          <ul class='nav nav-pills pull-right'>
            <li><%= link_to "Books", root_path %></li>
          <% if current_user %>
            <li><%= link_to "LogOut", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "My bookList", user_list_books_path %></li>
            <br>
            <li>Logged as: <%= current_user.email %></li>
          <% else %>
            <li><%= link_to "SignUp", new_user_registration_path %></li>
            <li><%= link_to "SingIn", new_user_session_path %></li>
          <% end %>
          </ul>
        </nav>
      </div>
      <!-- END OF NAVBAR -->

      <h1>Reading List</h1>

      <!-- BOOKS FORM -->
      <% if current_user %>
        <p class='pull-right'>
          <a href='#' id='show-form' class='btn btn-primary'>New Book Form</a>
        </p>
      <% end %>
      <div class='col-sm-12 book-form'>
        <p>
        <div class="col-sm-5">
          <%= render partial: 'books/form' %>
        </div>
        </p>
      </div>
      <!-- END OF BOOK FORM -->

      <div class='row'>
        <div class='col-sm-12'>
          <p>
          <%= simple_form_for :search, { url: search_books_path, method: :get, html: {class: "form-inline" }} do |f| %>
            <%= f.input :keyword, required: false, label: false %>
            <%= f.button :submit, "Search", name: nil %>
          <% end %>
          </p>
        </div>
      </div>

      <hr>

      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <%= msg %>
        </div>
      <% end %>
      <div class="row">

        <div class="col-sm-8">
          <%= yield %>
        </div>

        <div class="col-sm-4">
          <h2>Genres</h2>
          <ul class="list-unstyled">
            <% cache do %>
              <% Genre.all.each do |genre| %>
                <li>
                  <%= link_to genre.name, genre_path(genre),
                    class: 'label label-primary' %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

  </body>
</html>
