<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Reading List" %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class='nav nav-pills pull-right'>
          <% if current_user %>
            <li><%= link_to "LogOut", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "My bookList", user_list_books_path %></li>
            <br>
            <li>Logged as: <%= current_user.email %></li>
          <% else %>
            <li><%= link_to "SignUp", new_user_registration_path %></li>
            <li><%= link_to "SingIn", new_user_session_path %></li>
          <% end %>
          </ul>
        </nav>
      </div>
    </div>

    <div class="container">
      <h1>Reading List</h1>

      <ol class="breadcrumb">
        <li class="active">
          <%= link_to "Books", root_path %>
        </li>
      </ol>

      <div class='row'>
        <div class='col-sm-12'>
          <p>
          <%= simple_form_for :search, { url: search_books_path, method: :get, html: {class: "form-inline" }} do |f| %>
            <%= f.input :keyword, required: false, label: false %>
            <%= f.button :submit, "Search", name: nil %>
          <% end %>
          </p>
        </div>
      </div>


      <hr>

      <div class="container">
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <%= msg %>
          </div>
        <% end %>

        <%= yield %>

    </div>

  </body>
</html>
